<div class="delphi__inner">
    <div class="delphi__title">Title: {{title}}</div>
    <img src="../img/{{asset}}.webp" alt="" class="delphi__img">
    <div class="delphi__asset">Asset name: {{asset}}</div>
    <div class="delphi__description">Description: {{description}}</div>
    <div class="delphi__date">Create date: {{create_date}}</div>
    <div class="delphi__experts">Experts: {{experts}}</div>
    <div class="discussion">Discussion</div>
    <div class="delphi__discussion">
    </div>
    <div class="quiz__steps">Quiz Steps</div>
</div>
