<div class="mark">
    <div class="method_type">method type: THREE_MARKS_FORECAST</div>
    <div class="method_data">pessimistic mark: {{pessimistic_mark}}</div>
    <div class="method_data">pessimistic chance: {{pessimistic_chance}}</div>
    <div class="method_data">realistic mark: {{realistic_mark}}</div>
    <div class="method_data">realistic chance: {{realistic_chance}}</div>
    <div class="method_data">optimistic mark: {{optimistic_mark}}</div>
    <div class="method_data">optimistic chance: {{optimistic_chance}}</div>
</div>
