<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet/delphi.css">
    <script src="script/viewDelphiQuiz.js"></script>
    <title>Title</title>
</head>
<body>
<!--Header-->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_logo">
                <h1>ExpertMark</h1>
            </div>

            <nav class="nav">
                <a href="signIn.html" class="nav__link">Sign In</a>
                <a href="#" class="nav__link">Sign Out</a>
            </nav>
        </div>
    </div>
</header>


<!--Box-->
<div class="box">
    <div class="delphi__inner">
        <div class="delphi__title">Title: Bitcoin future</div>
        <img src="img/btc.webp" alt="" class="delphi__img">
        <div class="delphi__asset">assetName: BTC</div>
        <div class="delphi__description">description: blablabla</div>
        <div class="delphi__date">create Date : 10 11 2000</div>
        <div class="delhi__experts">experts: mishamba, dziana</div>
        <br>
        <div class="discussion">discussion</div>
        <br>
        <div class="delphi__discussion">
            <div class="message__editor">
                <label>
                    <input type="text">
                </label>
                <button id="message_send_button">Send</button>
            </div>
            <div class="message">
                <div>message:smth</div>
                <div>postDate: smth</div>
                <br>
            </div>
            <div class="message">
                <div>message:smth</div>
                <div>postDate: smth</div>
                <br>
            </div>
            <div class="message">
                <div>message:smth</div>
                <div>postDate: smth</div>
                <br>
            </div>
            <div class="message">
                <div>message:smth</div>
                <div>postDate: smth</div>
                <br>
            </div>
            <div class="message">
                <div>message:smth</div>
                <div>postDate: smth</div>
                <br>
            </div>
        </div>
        <br>
        <div class="delphi__marks">
            <div class="mark__editor">
                <label for="method_type"></label>
                <select name="method" id="method_type" onChange="changeMethod()">
                    <option value="TWO_MARKS_FORECAST" selected>Two marks method</option>
                    <option value="THREE_MARKS_FORECAST">Three marks method</option>
                    <option value="THREE_MARKS_WITH_CHANCES_FORECAST">Three marks with chances method</option>
                </select>
                <div id="forecast_method_data">
                    <div class="editor__header">
                        Pessimistic mark
                    </div>
                    <label>
                        <input id="pessimistic_mark" type="number">
                    </label>
                    <div class="editor__header">
                        Optimistic mark
                    </div>
                    <label>
                        <input id="optimistic_mark" type="number">
                    </label>
                </div>
            </div>
            <br>
            <div class="quiz_step">
                <div class="quiz__step_info">justification finish date: smth</div>
                <br>
                <div class="marks">
                    <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                    <div class="method_data">pessimistic mark: 10</div>
                    <div class="method_data">optimistic mark: 15</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Menu-->
<div class="menu">
    <div class="container">
        <div class="menu__inner">
            <a class="btn  btn--red" href="#">Profile</a>
            <a class="btn  btn--red" href="#">My Forecasts</a>
            <a class="btn  btn--red" href="#">Assets</a>
            <a class="btn  btn--red" href="#">Delphi</a>
        </div>
    </div>
</div>


<!--Footer-->
<footer class="footer">
    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div>Copyright © 2022 ExpertMark. All Rights Reserved</div>
                <div>Made with <span style="color:#e84545;">&#10084</span> <span>by Mihail Nenahov</span></div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>