<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/signin.css">
    <script type="module" src="script/bundle/signIn.js"></script>
    <title>ExpertMark</title>
</head>
<body>
    <div class="container">
        <label>
            <input id="username" type="text" placeholder="Username" name="uname" required>
        </label>
        <label>
            <input type="password" placeholder="Password" name="psw" required>
        </label>
         <button id="sign_in_button" type="submit">Sign In</button>
         <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
         </label>
    </div>

</body>
</html>