<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpertMark</title>
    <link rel="stylesheet" href="../stylesheet/createAccount.css">
</head>
<body>

<h1>Create Account</h1>

<div class="username">Username:
    <label>
        <input type="text">
    </label>
</div>

<div class="password">Password:
    <label>
        <input type="text">
    </label>
</div>

<div class="description">Description:
    <label>
        <input type="text">
    </label>
</div>

<select>
    <option>USER</option>
    <option selected>ADMIN</option>
</select>

<form action="signIn.html"><button>Create Account</button></form>

</body>
</html>