<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateDelphiQuizForecast</title>
    <script src="../script/src/createDelphiQuiz.js"></script>
    <link rel="stylesheet" href="../stylesheet/createDelphiQuiz.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_logo">
                <h1>ExpertMark</h1>
            </div>

            <nav class="nav">
                <a href="signIn.html" class="nav__link">Sign In</a>
                <a href="signIn.html" class="nav__link">Sign Out</a>
            </nav>
        </div>
    </div>
</header>

<h2>Create Delphi Quiz</h2>

<!--Box-->
    <div id="forecast_data" class="box">
        <div class="delphi__quiz_inner">
                <div class="title">Title</div>
                <label>
                    <input id="input__title" type="text">
                </label>
                <div class="asset__name">Asset Name</div>
                <label>
                    <input id="input__asset_name" type="text">
                </label>
                <div class="description">Description</div>
                <label>
                    <input id="input__description" type="text">
                </label>
                <div class="discussion">Discussion Time In Days</div>
                <label>
                    <input id="discussion_time_in_days" type="number">
                </label>
                <div class="usernames">Expert Usernames</div>
                <label>
                    <input id="input_usernames" type="text">
                </label>
                <button class="add">
                    Add
                </button>
                <button class="delete">
                    Delete
                </button>
                <div class="expert__names"></div>
                <button class="create__quiz">
                    Create Quiz
                 </button>
        </div>
    </div>

<!--Menu-->
<div class="menu">
    <div class="container">
        <div class="menu__inner">
            <a class="btn  btn--red" href="assets.html">Assets</a>
            <a class="btn  btn--red" href="profile.html">Profile</a>
            <a class="btn  btn--red" href="myforecast.html">My Forecasts</a>
            <a class="btn  btn--red" href="forecastsLine.html">Forecasts Line</a>
            <a class="btn  btn--red" href="recommendations.html">Recommend</a>
            <a class="btn  btn--red" href="findForecast.html">Find Forecasts</a>
            <a class="btn  btn--red" href="delphisearch.html">Find Delphi Forecasts</a>
        </div>
    </div>
</div>

<!--Footer-->
<footer class="footer">
    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div>Copyright © 2022 ExpertMark. All Rights Reserved</div>
                <div>Made with <span style="color:#e84545;">&#10084</span> <span>by Mihail Nenahov</span></div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
