<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheet/delphisearch.css">
    <title>ExpertMark</title>
</head>
<body>

<!--Header-->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_logo">
                <h1>ExpertMark</h1>
            </div>

            <nav class="nav">
                <a href="signIn.html" class="nav__link">Sign Out</a>
                <a href="signIn.html" class="nav__link">Sign Out</a>
            </nav>
        </div>
    </div>
</header>

<!--Menu-->
<div class="menu">
    <div class="container">
        <div class="menu__inner">
            <a class="btn  btn--red" href="assets.html">Assets</a>
            <a class="btn  btn--red" href="profile.html">Profile</a>
            <a class="btn  btn--red" href="delphi.html">Delphi</a>
        </div>
    </div>
</div>

<label class="search">
    <input placeholder="Find Delphi Forecast..." type="text">
</label>
    <button>Search</button>

<!--Box-->
<div class="box">
    <div class="forecast">
        <a href="delphi.html" class="link">
            <div class="forecast__inner">
                <div class="right">
                    <img src="../img/btc.webp" alt="" class="asset__img">
                </div>
                <div class="left">
                    <div class="title">Title: Bitcoin future</div>
                    <div class="asset__name">Asset Name: Bitcoin</div>
                    <div class="description">Description: blablabla</div>
                    <div class="creating__data">Create date : 10.11.2000</div>
                    <div class="experts">Experts: mishamba, dziana</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <img src="../img/btc.webp" alt="" class="asset__img">
                </div>
                <div class="left">
                    <div class="title">Title: Bitcoin future</div>
                    <div class="asset__name">Asset Name: Bitcoin</div>
                    <div class="description">Description: blablabla</div>
                    <div class="creating__data">Create date : 10.11.2000</div>
                    <div class="experts">Experts: mishamba, dziana</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <img src="../img/btc.webp" alt="" class="asset__img">
                </div>
                <div class="left">
                    <div class="title">Title: Bitcoin future</div>
                    <div class="asset__name">Asset Name: Bitcoin</div>
                    <div class="description">Description: blablabla</div>
                    <div class="creating__data">Create date : 10.11.2000</div>
                    <div class="experts">Experts: mishamba, dziana</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <img src="../img/btc.webp" alt="" class="asset__img">
                </div>
                <div class="left">
                    <div class="title">Title: Bitcoin future</div>
                    <div class="asset__name">Asset Name: Bitcoin</div>
                    <div class="description">Description: blablabla</div>
                    <div class="creating__data">Create date : 10.11.2000</div>
                    <div class="experts">Experts: mishamba, dziana</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <img src="../img/btc.webp" alt="" class="asset__img">
                </div>
                <div class="left">
                    <div class="title">Title: Bitcoin future</div>
                    <div class="asset__name">Asset Name: Bitcoin</div>
                    <div class="description">Description: blablabla</div>
                    <div class="creating__data">Create date : 10.11.2000</div>
                    <div class="experts">Experts: mishamba, dziana</div>
                </div>
            </div>
        </a>
    </div>
</div>


</body>
</html>