<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheet/delphi.css">
    <script src="../script/src/util/createMessageEditor.js"></script>
    <script src="../script/src/util/createMethodDataEditor.js"></script>
    <script src="../script/src/util/security.js"></script>
    <script src="../script/src/util/requestUtils.js"></script>
    <script src="../script/src/viewDelphiQuiz.js"></script>
    <title>ExpertMark</title>
</head>
<body>
<!--Header-->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_logo">
                <h1>ExpertMark</h1>
            </div>

            <nav class="nav">
                <a href="signIn.html" class="nav__link">Sign In</a>
                <a href="signIn.html" class="nav__link">Sign Out</a>
            </nav>
        </div>
    </div>
</header>

<h2>Delphi Quiz</h2>

<!--Box-->
<div class="box">
    <div class="delphi__inner">
        <div class="delphi__title">Title: Bitcoin future</div>
        <img src="../img/btc.webp" alt="" class="delphi__img">
        <div class="delphi__asset">Asset name: Bitcoin</div>
        <div class="delphi__description">Description: What is bitcoin price for 2022?</div>
        <div class="delphi__date">Create date : 10.05.2022</div>
        <div class="delphi__experts">Experts: Mishamba, Van, Billy, Ban, Mark, Abjihit</div>
        <div class="discussion">Discussion</div>
        <div class="contt">
            <div style="display: flex; flex-direction: column;">
            <div class="delphi__discussion">
                <div class="message">
                    <div>Looks like Bitcoin is going down.</div>
                    <div>postDate: 10.05.2022</div>
                    <br>
                </div>
                <div class="message">
                    <div>I heard they have a dependency breach</div>
                    <div>postDate: 10.05.2022</div>
                    <br>
                </div>
                <div class="message">
                    <div>There is no dependency breach in this crypto</div>
                    <div>postDate: 11.05.2022</div>
                    <br>
                </div>
            </div>
                <div class="message__editor">
                    <label>
                        <input id="message_body_editor" type="text">
                    </label>
                    <button id="message_send_button">Send</button>
                </div>
            </div>
<div>
    <div class="quiz__steps">Quiz Steps</div>

            <div class="quizzes">
                <div class="quiz_step">
                    <div class="quiz__step_info">justification finish date: 25.06.2022</div>
                    <br>
                    <div class="mark__editor">
                        <label for="method_type"></label>
                        <select name="method" id="method_type">
                            <option value="TWO_MARKS_FORECAST" selected>Two marks method</option>
                            <option value="THREE_MARKS_FORECAST">Three marks method</option>
                            <option value="THREE_MARKS_WITH_CHANCES_FORECAST">Three marks with chances method</option>
                        </select>
                        <div id="forecast_method_data">
                            <div class="editor__header">
                                Pessimistic mark
                            </div>
                            <label>
                                <input id="pessimistic_mark" type="number">
                            </label>
                            <div class="editor__header">
                                Optimistic mark
                            </div>
                            <label>
                                <input id="optimistic_mark" type="number">
                            </label>
                            <br><br>
                        </div>
                        <button style="margin-left: 12px" class="create__forecast">Create Forecast</button>
                    </div>
                    <div class="marks">
                        <div class="mark">
                            <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                            <div class="method_data">pessimistic mark: 15000</div>
                            <div class="method_data">optimistic mark: 16000</div>
                        </div>
                        <div class="mark">
                            <div class="method_type">method type: THREE_MARKS_FORECAST</div>
                            <div class="method_data">pessimistic mark: 30000</div>
                            <div class="method_data">realistic mark: 40000</div>
                            <div class="method_data">optimistic mark: 45000</div>
                        </div>
                        <div class="mark">
                            <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                            <div class="method_data">pessimistic mark: 8000</div>
                            <div class="method_data">optimistic mark: 9000</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>


        <div class="quizzes">
            <div class="quiz_step">
                <div class="quiz__step_info">justification finish date: 18.06.2022</div>
                <div class="quiz__step_info">another tour required: yes</div>
                <br>
                <div class="marks">
                    <div class="mark">
                        <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                        <div class="method_data">pessimistic mark: 10000</div>
                        <div class="method_data">optimistic mark: 10050</div>
                    </div>
                    <div class="mark">
                        <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                        <div class="method_data">pessimistic mark: 20000</div>
                        <div class="method_data">optimistic mark: 25000</div>
                    </div>
                    <div class="mark">
                        <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                        <div class="method_data">pessimistic mark: 15000</div>
                        <div class="method_data">optimistic mark: 17000</div>
                    </div>
                    <div class="mark">
                        <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                        <div class="method_data">pessimistic mark: 40000</div>
                        <div class="method_data">optimistic mark: 50000</div>
                    </div>
                    <div class="mark">
                        <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                        <div class="method_data">pessimistic mark: 30000</div>
                        <div class="method_data">optimistic mark: 35000</div>
                    </div>
                    <div class="mark">
                        <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                        <div class="method_data">pessimistic mark: 70000</div>
                        <div class="method_data">optimistic mark: 100000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Menu-->
<div class="menu">
    <div class="container">
        <div class="menu__inner">
            <a class="btn  btn--red" href="assets.html">Assets</a>
            <a class="btn  btn--red" href="profile.html">Profile</a>
            <a class="btn  btn--red" href="myforecast.html">My Forecasts</a>
            <a class="btn  btn--red" href="forecastsLine.html">Forecasts Line</a>
            <a class="btn  btn--red" href="recommendations.html">Recommend</a>
            <a class="btn  btn--red" href="findForecast.html">Find Forecasts</a>
            <a class="btn  btn--red" href="delphisearch.html">Find Delphi Forecasts</a>
            <a class="btn  btn--red" href="expertsSearch.html">Find Experts</a>
        </div>
    </div>
</div>


<!--Footer-->
<footer class="footer">
    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div>Copyright © 2022 ExpertMark. All Rights Reserved</div>
                <div>Made with <span style="color:#e84545;">&#10084</span> <span>by Mihail Nenahov</span></div>
            </div>
        </div>
    </div>
</footer>

<script>
    const form = document.getElementById('forecast_method_data');
    let method = 'TWO_MARKS_FORECAST';
    const marksContainer = document.querySelector('.marks');

    document.getElementById('method_type').addEventListener('change', (e) => {
        method = e.target.value;
        if(method == 'TWO_MARKS_FORECAST') {
            form.innerHTML = `
                                <div class="editor__header">
                            Pessimistic mark
                        </div>
                        <label>
                            <input id="pessimistic_mark" type="number">
                        </label>
                        <div class="editor__header">
                            Optimistic mark
                        </div>
                        <label>
                            <input id="optimistic_mark" type="number">
                        </label>
                        <br><br>
        `
        } else if(method == 'THREE_MARKS_FORECAST') {
            form.innerHTML = `
        <div class="editor__header">
            Pessimistic mark
        </div>
        <label>
            <input id="pessimistic_mark" type="number">
        </label>
        <div class="editor__header">
            Realistic mark
        </div>
       <label>
            <input id="realistic_mark" type="number">
        </label>
        <div class="editor__header">
            Optimistic mark
        </div>
        <label>
            <input id="optimistic_mark" type="number">
        </label>
        <br><br>
        `
        } else {
            form.innerHTML = `
                        <div class="editor__header">
                            Pessimistic mark
                        </div>
                        <label>
                            <input id="pessimistic_mark" type="number">
                        </label>
                        <div class="editor__header">
                            Pessimistic mark chance
                        </div>
                        <label>
                            <input id="pessimistic_mark" type="number">
                        </label>
                           <div class="editor__header">
                                Realistic mark
                           </div>
                           <label>
                                <input id="realistic_mark" type="number">
                           </label>
                          <div class="editor__header">
                                Realistic mark chance
                           </div>
                           <label>
                                <input id="realistic_mark" type="number">
                           </label>
                        <div class="editor__header">
                            Optimistic mark
                        </div>
                        <label>
                            <input id="optimistic_mark" type="number">
                        </label>
                        <div class="editor__header">
                            Optimistic mark chance
                        </div>
                        <label>
                            <input id="optimistic_mark" type="number">
                        </label>
                        <br><br>
        `
        }
    });

    const createForecastBtn = document.querySelector('.create__forecast');
    const FORMM = document.querySelector('.mark__editor');

    createForecastBtn.addEventListener('click', () => {

        if(method == 'TWO_MARKS_FORECAST') {
            marksContainer.innerHTML += `
                    <div class="mark">
                        <div class="method_type">method type: TWO_MARKS_FORECAST</div>
                        <div class="method_data">pessimistic mark: 90000</div>
                        <div class="method_data">optimistic mark: 120000</div>
                    </div>
            `
        } else if(method == 'THREE_MARKS_FORECAST') {
            marksContainer.innerHTML += `
                    <div class="mark">
                        <div class="method_type">method type: THREE_MARKS_FORECAST</div>
                        <div class="method_data">pessimistic mark: 90000</div>
                        <div class="method_data">optimistic mark: 10000</div>
                        <div class="method_data">realistic mark: 120000</div>
                    </div>
            `
        } else {
            marksContainer.innerHTML += `
                    <div class="mark">
                        <div class="method_type">method type: THREE_MARKS_WITH_CHANCES_FORECAST</div>
                        <div class="method_data">pessimistic mark: 10</div>
                        <div class="method_data">pessimistic mark chance: 10</div>
                        <div class="method_data">optimistic mark: 15</div>
                        <div class="method_data">optimisitc mark chance: 10</div>
                        <div class="method_data">realistic mark: 15</div>
                        <div class="method_data">realistic mark chance: 10</div>
                    </div>
            `
        }
        FORMM.style.display = 'none';
    });

    const chatInput = document.getElementById('message_body_editor');
    const chatSendBtn = document.getElementById('message_send_button');
    const chatContainer = document.querySelector('.delphi__discussion');
    let message = '';
    chatInput.addEventListener('change', (e) => {
       message = e.target.value;
        console.log(message)
    });

    chatSendBtn.addEventListener('click', () => {
        console.log(message)
        chatContainer.innerHTML += `
            <div class="message">
                <div>${message}</div>
                <div>postDate: 19.06.2022</div>
                <br>
            </div>
        `;
        chatInput.value = ''
    });

</script>

</body>
</html>