<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheet/delphisearch.css">
    <title>ExpertMark</title>
</head>
<body>

<!--Header-->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_logo">
                <h1>ExpertMark</h1>
            </div>

            <nav class="nav">
                <a href="signIn.html" class="nav__link">Sign Out</a>
                <a href="signIn.html" class="nav__link">Sign Out</a>
            </nav>
        </div>
    </div>
</header>

<!--Menu-->
<div class="menu">
    <div class="container">
        <div class="menu__inner">
            <a class="btn  btn--red" href="assets.html">Assets</a>
            <a class="btn  btn--red" href="profile.html">Profile</a>
            <a class="btn  btn--red" href="myforecast.html">My Forecasts</a>
            <a class="btn  btn--red" href="forecastsLine.html">Forecasts Line</a>
            <a class="btn  btn--red" href="recommendations.html">Recommend</a>
            <a class="btn  btn--red" href="findForecast.html">Find Forecasts</a>
            <a class="btn  btn--red" href="delphisearch.html">Find Delphi Forecasts</a>
            <a class="btn  btn--red" href="expertsSearch.html">Find Experts</a>
        </div>
    </div>
</div>

<h2>Delphi Forecasts</h2>

<!--Box-->
<div class="box">
    <div class="forecast">
    </div>
</div>

<script>
delay(115).then(() =>
document.querySelector(".forecast").innerHTML = `
        <div>
            <a href="delphi.html" class="link">
                <div class="forecast__inner">
                    <div class="right">
                        <img src="../img/btc.webp" alt="" class="asset__img">
                    </div>
                    <div class="left">
                        <div class="title">Title: Bitcoin future</div>
                        <div class="asset__name">Asset Name: Bitcoin</div>
                        <div class="description">Description: What is bitcoin price for 2022?</div>
                        <div class="creating__data">Create date : 10.05.2022</div>
                        <div class="experts">Experts: Mishamba, Van, Billy, Ban, Mark, Abjihit</div>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a href="delphi.html" class="link">
                <div class="forecast__inner">
                    <div class="right">
                        <img src="../img/eth.webp" alt="" class="asset__img">
                    </div>
                    <div class="left">
                        <div class="title">Title: Etherium future</div>
                        <div class="asset__name">Asset Name: Etherium</div>
                        <div class="description">Description: Let's try to predict Etherium future</div>
                        <div class="creating__data">Create date : 13.05.2022</div>
                        <div class="experts">Experts: Diana, Van, Mark, </div>
                    </div>
                </div>
            </a>
        </div>
        `)

function delay(time) {
    return new Promise(resolve => setTimeout(resolve, time));
}

</script>
</body>
</html>