<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheet/forecastsLine.css">
    <title>ExpertMark</title>
</head>
<body>

<!--Header-->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_logo">
                <h1>ExpertMark</h1>
            </div>

            <nav class="nav">
                <a href="signIn.html" class="nav__link">Sign In</a>
                <a href="signIn.html" class="nav__link">Sign Out</a>
            </nav>
        </div>
    </div>
</header>

<!--Menu-->
<div class="menu">
    <div class="container">
        <div class="menu__inner">
            <a class="btn  btn--red" href="assets.html">Assets</a>
            <a class="btn  btn--red" href="profile.html">Profile</a>
            <a class="btn  btn--red" href="myforecast.html">My Forecasts</a>
            <a class="btn  btn--red" href="forecastsLine.html">Forecasts Line</a>
            <a class="btn  btn--red" href="recommendations.html">Recommend</a>
            <a class="btn  btn--red" href="findForecast.html">Find Forecasts</a>
            <a class="btn  btn--red" href="delphisearch.html">Find Delphi Forecasts</a>
            <a class="btn  btn--red" href="expertsSearch.html">Find Experts</a>
        </div>
    </div>
</div>

<h2>Forecasts Line</h2>

<!--Box-->
<div class="box">
    <div class="forecasts">
    </div>
</div>
<script>
    // findForecast.js
    delay(815).then(() =>
        document.querySelector(".forecasts").innerHTML = `
        <div class="forecast__inner">
            <div class="right">
                <div class="method__type">Method Type: Two Marks Forecast</div>
                <div class="method__data">Method Data: Pessimistic Mark: 19000, Optimistic Mark: 21000</div>
                <div class="creating__data">Creating Date: 16.07.2022</div>
                <div class="target__data">Target Date: 24.08.2022</div>
            </div>
            <div class="left">
                <div class="username">Username: Diana</div>
                <div class="asset__name">Asset Name: Bitcoin</div>
                <img src="../img/btc.webp" alt="" class="asset__img">
                <div class="accuracy">Accuracy: didn't met target date</div>
            </div>
        </div>
        <div class="forecast__inner">
            <div class="right">
                <div class="method__type">Method Type: Two Marks Forecast</div>
                <div class="method__data">Method Data: Pessimistic Mark: 1, Optimistic Mark: 2</div>
                <div class="creating__data">Creating Date: 02.02.2022</div>
                <div class="target__data">Target Date: 06.08.2022</div>
            </div>
            <div class="left">
                <div class="username">Username: Diana</div>
                <div class="asset__name">Asset Name: Tron</div>
                <img src="../img/tron.webp" alt="" class="asset__img">
                <div class="accuracy">Accuracy: didn't met target date</div>
            </div>
        </div>
        <div class="forecast__inner">
            <div class="right">
                <div class="method__type">Method Type: Three Marks Forecast</div>
                <div class="method__data">Method Data: Pessimistic Mark: 2, Optimistic Mark: 4</div>
                <div class="creating__data">Creating Date: 12.04.2022</div>
                <div class="target__data">Target Date: 20.08.2022</div>
            </div>
            <div class="left">
                <div class="username">Username: Billy</div>
                <div class="asset__name">Asset Name: Hedera</div>
                <img src="../img/hedera.webp" alt="" class="asset__img">
                <div class="accuracy">Accuracy: didn't met target date</div>
            </div>
        </div>
        <div class="forecast__inner">
            <div class="right">
                <div class="method__type">Method Type: Two Marks Forecast</div>
                <div class="method__data">Method Data: Pessimistic Mark: 1500, Realistic Mark: 2000, Optimistic Mark: 3000</div>
                <div class="creating__data">Creating Date: 07.02.2022</div>
                <div class="target__data">Target Date: 04.09.2022</div>
            </div>
            <div class="left">
                <div class="username">Username: Van</div>
                <div class="asset__name">Asset Name: Ethereum</div>
                <img src="../img/eth.webp" alt="" class="asset__img">
                <div class="accuracy">Accuracy: didn't met target date</div>
            </div>
        </div>
        <div class="forecast__inner">
            <div class="right">
                <div class="method__type">Method Type: Two Marks Forecast</div>
                <div class="method__data">Method Data: Pessimistic Mark: 16, Optimistic Mark: 18</div>
                <div class="creating__data">Creating Date: 09.05.2022</div>
                <div class="target__data">Target Date: 12.11.2022</div>
            </div>
            <div class="left">
                <div class="username">Username: Ban</div>
                <div class="asset__name">Asset Name: Polygon</div>
                <img src="../img/polygon.webp" alt="" class="asset__img">
                <div class="accuracy">Accuracy: didn't met target date</div>
            </div>
        </div>
        <div class="forecast__inner">
            <div class="right">
                <div class="method__type">Method Type: Two Marks Forecast</div>
                <div class="method__data">Method Data: Pessimistic Mark: 13000, Optimistic Mark: 19000</div>
                <div class="creating__data">Creating Date: 15.05.2022</div>
                <div class="target__data">Target Date: 19.05.2022</div>
            </div>
            <div class="left">
                <div class="username">Username: Van</div>
                <div class="asset__name">Asset Name: Flow</div>
                <img src="../img/flow.webp" alt="" class="asset__img">
                <div class="accuracy">Accuracy: didn't met target date</div>
            </div>
        </div>
        <div class="forecast__inner">
            <div class="right">
                <div class="method__type">Method Type: Two Marks Forecast</div>
                <div class="method__data">Method Data: Pessimistic Mark: 1900, Optimistic Mark: 2100</div>
                <div class="creating__data">Creating Date: 15.05.2022</div>
                <div class="target__data">Target Date: 19.05.2022</div>
            </div>
            <div class="left">
                <div class="username">Username: Ban</div>
                <div class="asset__name">Asset Name: Tezos</div>
                <img src="../img/tezos.webp" alt="" class="asset__img">
                <div class="accuracy">Accuracy: didn't met target date</div>
            </div>
        </div>
        <div class="forecast__inner">
            <div class="right">
                <div class="method__type">Method Type: Two Marks Forecast</div>
                <div class="method__data">Method Data: Pessimistic Mark: 10, Optimistic Mark: 23</div>
                <div class="creating__data">Creating Date: 15.05.2022</div>
                <div class="target__data">Target Date: 19.05.2022</div>
            </div>
            <div class="left">
                <div class="username">Username: Van</div>
                <div class="asset__name">Asset Name: Algorand</div>
                <img src="../img/algorand.webp" alt="" class="asset__img">
                <div class="accuracy">Accuracy: didn't met target date</div>
            </div>
        </div>
    `)
    function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }

</script>

</body>
</html>