<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <script src="script/script.js"></script>
    <title>ExpertMark</title>
</head>
<body>

    <!--Header-->
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <div class="header_logo">
                        <h1>ExpertMark</h1>
                    </div>

                    <nav class="nav">
                        <a href="signIn.html" class="nav__link">Sign In</a>
                        <a href="#" class="nav__link">Sign Out</a>
                    </nav>
                </div>
            </div>
        </header>

    <!--Box-->
        <div class="box">
            <div class="search">
                <form action="" method="get">
                    <label>
                        <input name="s" placeholder="Type here..." type="search">
                    </label>
                    <button class="btn--search" type="submit">Search</button>
                </form>
            </div>
            <div class="asset__selector">
                <div class="asset__item">
                    <div class="asset__text">Bitcoin</div>
                    <img src="../img/btc.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">Ethereum</div>
                    <img src="../img/eth.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">tether</div>
                    <img src="../img/tether.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">usd-coin</div>
                    <img src="../img/usd-coin.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">bnb</div>
                    <img src="../img/bnb.png" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">cardano</div>
                    <img src="../img/cardano.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">xrp</div>
                    <img src="../img/xrp.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">binance-usd</div>
                    <img src="../img/binance-usd.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">dogecoin</div>
                    <img src="../img/dogecoin.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">polkadot</div>
                    <img src="../img/polkadot-new.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">tezos</div>
                    <img src="../img/tezos.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">tron</div>
                    <img src="../img/tron.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">avalanche</div>
                    <img src="../img/avalanche.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">dai</div>
                    <img src="../img/multi-collateral-dai.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">shiba inu</div>
                    <img src="../img/shiba-inu.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">polygon</div>
                    <img src="../img/polygon.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">uniswap</div>
                    <img src="../img/uniswap.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">stellar</div>
                    <img src="../img/stellar.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">monero</div>
                    <img src="../img/monero.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">cosmos</div>
                    <img src="../img/cosmos.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">flow</div>
                    <img src="../img/flow.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">algorand</div>
                    <img src="../img/algorand.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">vechain</div>
                    <img src="../img/vechain.webp" alt="" class="asset__logo">
                </div>
                <div class="asset__item">
                    <div class="asset__text">hedera</div>
                    <img src="../img/hedera.webp" alt="" class="asset__logo">
                </div>
            </div>
        </div>

    <!--Menu-->
    <div class="menu">
        <div class="container">
            <div class="menu__inner">
                    <a class="btn  btn--red" href="#">Profile</a>
                    <a class="btn  btn--red" href="#">My Forecasts</a>
                    <a class="btn  btn--red" href="#">Assets</a>
                    <a class="btn  btn--red" href="#">Delphi</a>
            </div>
        </div>
    </div>

    <!--Footer-->
        <footer class="footer">
            <div class="copyright">
                <div class="container">
                    <div class="copyright__text">
                        <div>Copyright © 2022 ExpertMark. All Rights Reserved</div>
                        <div>Made with <span style="color:#e84545;">&#10084</span> <span>by Mihail Nenahov</span></div>
                    </div>
                </div>
            </div>
        </footer>

</body>
</html>