<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../stylesheet/profile.css">
  <title>ExpertMark</title>
  <script src="../script/bundle/profile/profileBundle.js"></script>
  <script src="../script/src/util/requestUtils.js"></script>
  <script src="../script/src/util/security.js"></script>
</head>
<body>

    <!--Header-->
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header_logo">
            <h1>ExpertMark</h1>
          </div>

          <nav class="nav">
            <a href="signIn.html" class="nav__link">Sign In</a>
            <a href="signIn.html" class="nav__link">Sign Out</a>
          </nav>
        </div>
      </div>
    </header>

    <!--Menu-->
    <div class="menu">
      <div class="container">
        <div class="menu__inner">
          <a class="btn  btn--red" href="assets.html">Assets</a>
          <a class="btn  btn--red" href="profile.html">Profile</a>
          <a class="btn  btn--red" href="myforecast.html">My Forecasts</a>
          <a class="btn  btn--red" href="forecastsLine.html">Forecasts Line</a>
          <a class="btn  btn--red" href="recommendations.html">Recommend</a>
          <a class="btn  btn--red" href="findForecast.html">Find Forecasts</a>
          <a class="btn  btn--red" href="delphisearch.html">Find Delphi Forecasts</a>
        </div>
      </div>
    </div>

    <h2>Profile</h2>
    
    <div class="profile">
      <div class="profile__inner">
        <img src="../img/mihail.jpeg" alt="" class="profile__img">
        <div class="profile__name">@Mishamba</div>
        <div class="profile__description">Hello. I'm a crypto expert.</div>
        <button>Follow</button>
        <ul class="profile__followings"> Followings:
          <li>Diana</li>
          <li>Ilya</li>
          <li>Mark</li>
          <li>Andrew</li>
          <li>Billy</li>
          <li>Van</li>
        </ul>
      </div>
      <div class="expert__statistic">
        <div class="title">Expert Statistic:</div>
        <div class="character">Character: <span>NEWBIE</span></div>
        <div class="accuracy">Accuracy: <span>69.5</span></div>
      </div>
    </div>



</body>
</html>