<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheet/recommendations.css">
    <title>ExpertMark</title>
</head>
<body>

    <!--Header-->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header_logo">
                    <h1>ExpertMark</h1>
                </div>

                <nav class="nav">
                    <a href="signIn.html" class="nav__link">Sign In</a>
                    <a href="#" class="nav__link">Sign Out</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="menu">
        <div class="container">
            <div class="menu__inner">
                <a class="btn  btn--red" href="assets.html">Assets</a>
                <a class="btn  btn--red" href="profile.html">Profile</a>
                <a class="btn  btn--red" href="myforecast.html">My Forecasts</a>
                <a class="btn  btn--red" href="forecastsLine.html">Forecasts Line</a>
                <a class="btn  btn--red" href="recommendations.html">Recommend</a>
                <a class="btn  btn--red" href="#">Find Forecasts</a>
                <a class="btn  btn--red" href="delphisearch.html">Find Delphi Forecasts</a>
            </div>
        </div>
    </div>

    <div class="search">
        <form action="expertRec.html"><button class="btn--search1" type="submit">Experts</button></form>
        <button class="btn--search2" type="submit">Forecast</button>
    </div>

    <!--Box-->
    <div class="box">
        <div class="forecasts">
            <div class="forecast__inner">
                <div class="right">
                    <div class="method__type">Method Type: Two Marks Forecast</div>
                    <div class="method__data">Method Data: Pessimistic Mark: 27000, Optimistic Mark: 29000</div>
                    <div class="creating__data">Creating Date: 15.05.2022</div>
                    <div class="target__data">Target Date: 19.05.2022</div>
                </div>
                <div class="left">
                    <div class="username">Username: Mishamba</div>
                    <div class="asset__name">Asset Name: Bitcoin</div>
                    <img src="../img/btc.webp" alt="" class="asset__img">
                    <div class="accuracy">Accuracy: 85%</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <div class="method__type">Method Type: Two Marks Forecast</div>
                    <div class="method__data">Method Data: Pessimistic Mark: 19000, Optimistic Mark: 21000</div>
                    <div class="creating__data">Creating Date: 15.05.2022</div>
                    <div class="target__data">Target Date: 19.05.2022</div>
                </div>
                <div class="left">
                    <div class="username">Username: Mishamba</div>
                    <div class="asset__name">Asset Name: Tron</div>
                    <img src="../img/tron.webp" alt="" class="asset__img">
                    <div class="accuracy">Accuracy: 85%</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <div class="method__type">Method Type: Two Marks Forecast</div>
                    <div class="method__data">Method Data: Pessimistic Mark: 20000, Optimistic Mark: 23000</div>
                    <div class="creating__data">Creating Date: 15.05.2022</div>
                    <div class="target__data">Target Date: 19.05.2022</div>
                </div>
                <div class="left">
                    <div class="username">Username: Mishamba</div>
                    <div class="asset__name">Asset Name: Hedera</div>
                    <img src="../img/hedera.webp" alt="" class="asset__img">
                    <div class="accuracy">Accuracy: 85%</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <div class="method__type">Method Type: Two Marks Forecast</div>
                    <div class="method__data">Method Data: Pessimistic Mark: 14000, Optimistic Mark: 17000</div>
                    <div class="creating__data">Creating Date: 15.05.2022</div>
                    <div class="target__data">Target Date: 19.05.2022</div>
                </div>
                <div class="left">
                    <div class="username">Username: Mishamba</div>
                    <div class="asset__name">Asset Name: Ethereum</div>
                    <img src="../img/eth.webp" alt="" class="asset__img">
                    <div class="accuracy">Accuracy: 85%</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <div class="method__type">Method Type: Two Marks Forecast</div>
                    <div class="method__data">Method Data: Pessimistic Mark: 16000, Optimistic Mark: 18000</div>
                    <div class="creating__data">Creating Date: 15.05.2022</div>
                    <div class="target__data">Target Date: 19.05.2022</div>
                </div>
                <div class="left">
                    <div class="username">Username: Mishamba</div>
                    <div class="asset__name">Asset Name: Polygon</div>
                    <img src="../img/polygon.webp" alt="" class="asset__img">
                    <div class="accuracy">Accuracy: 85%</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <div class="method__type">Method Type: Two Marks Forecast</div>
                    <div class="method__data">Method Data: Pessimistic Mark: 13000, Optimistic Mark: 19000</div>
                    <div class="creating__data">Creating Date: 15.05.2022</div>
                    <div class="target__data">Target Date: 19.05.2022</div>
                </div>
                <div class="left">
                    <div class="username">Username: Mishamba</div>
                    <div class="asset__name">Asset Name: Flow</div>
                    <img src="../img/flow.webp" alt="" class="asset__img">
                    <div class="accuracy">Accuracy: 85%</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <div class="method__type">Method Type: Two Marks Forecast</div>
                    <div class="method__data">Method Data: Pessimistic Mark: 19000, Optimistic Mark: 21000</div>
                    <div class="creating__data">Creating Date: 15.05.2022</div>
                    <div class="target__data">Target Date: 19.05.2022</div>
                </div>
                <div class="left">
                    <div class="username">Username: Mishamba</div>
                    <div class="asset__name">Asset Name: Tezos</div>
                    <img src="../img/tezos.webp" alt="" class="asset__img">
                    <div class="accuracy">Accuracy: 85%</div>
                </div>
            </div>
            <div class="forecast__inner">
                <div class="right">
                    <div class="method__type">Method Type: Two Marks Forecast</div>
                    <div class="method__data">Method Data: Pessimistic Mark: 12000, Optimistic Mark: 23000</div>
                    <div class="creating__data">Creating Date: 15.05.2022</div>
                    <div class="target__data">Target Date: 19.05.2022</div>
                </div>
                <div class="left">
                    <div class="username">Username: Mishamba</div>
                    <div class="asset__name">Asset Name: Algorand</div>
                    <img src="../img/algorand.webp" alt="" class="asset__img">
                    <div class="accuracy">Accuracy: 85%</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>